<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if title %}{{ title }} — {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="preload" href="/assets/fonts/webfont_sans_medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="{{ '/assets/css/popup.css' | url }}" />
  {% assign cacheBust = 'now' | date: '?v=%Y%m%d%H%M' %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | url | append: cacheBust }}">
  <script src="{{ '/assets/js/jquery.min.js' | url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/anime.min.js' | url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/lazysizes.min.js' | url }}" type="text/javascript"></script>
  <script src="{{ '/assets/js/moment.min.js' | url }}"></script>
  <script src="{{ '/assets/js/moment-timezone.js' | url }}"></script>
  <script src="{{ '/assets/js/headroom.min.js' | url }}"></script>
  <script src="{{ '/assets/js/popup.min.js' | url }}"></script>
  <script src="{{ '/assets/js/pace.min.js' | url }}"></script>
  <script src="{{ '/assets/js/splittype.min.js' | url }}"></script>
</head>